header{
    width: 80%;
    border: 1px solid green;
    margin: 0 auto;
    
}

.top{
    text-align: right;
    
}

.top a{
    margin-left: 20px;
}
.banner{
    line-height: 50px;
}

.menu{
    margin-right: 10px;
}

.menu a{
    margin-right: 10px;
}